{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<title>Course Details</title>
  <main id="main">
    <header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <img src="{% static 'img/vishal_profile.jpg' %}" alt="" class="img-fluid rounded-circle">
          <h1 class="text-light"><a href="{% url 'home' %}">Vishal Chauhan</a></h1>
        <div class="social-links mt-3 text-center">
            <a href="https://in.linkedin.com/in/vishal-chauhan-007016149" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/Vishalchauhan1998" class="github"><i class="bx bxl-github"></i></a>
            <a href="www.instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>

            <!--<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>--->
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{% url 'home' %}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="{% url 'home' %}" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="{% url 'home' %}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="{% url 'home' %}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Projects</span></a></li>
          <li><a href="{% url 'home' %}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Course & Certificates </span></a></li>

          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
      <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Course Details</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Course Details</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide">
                  <img src="{{ co_data.photo.url }}" alt="">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Course information</h3>
              <ul>
                <li><strong>Course Name</strong>: {{ co_data.Course_Name }}</li>
                <li><strong>Category</strong>: {{ co_data.Category }}</li>
                <li><strong>Course URL</strong>: <a href="{{ co_data.Project_url }}">{{ co_data.Project_url }}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
               <h2>Description</h2>
              <p>
                {{ co_data.Description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->
  </main><!-- End #main -->
{% endblock %}